@model Formularz.Models.Dane
@{
    ViewData["Title"] = "Wynik";
}

<h1>@ViewBag.Message</h1>

<p>Imię: @Model.Imie</p>
<p>Nazwisko: @Model.Nazwisko</p>
<p>Email: @Model.Email</p>
<p>Numer Telefonu: @Model.NumerTelefonu</p>
<p>Wiek: @Model.Wiek</p>
<p>Miasto: @Model.Kategoria</p>


